/* In questo file .css definisco tutti gli elementi che devono avere
 * lo stesso stile in tutto il sito web */
 

body {
  background-image: url("Images/pattern.jpg");
  background-color: #E1E5FF;

  color:black;
  font-family: sans-serif;
}

/*nb: div#page contiene tutto il body*/
div#page::before{
	content: url("Images/Logo.png");  /*Logo (fatto con illustrator)*/
}

div#page{
/*Definisco le dimensioni per il box del body e lo centro*/
  width: 50%;
  margin: 2% auto 2% auto;

 /*proprietà del bordo del box*/
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  border-color: darkcyan;

  padding: 1%;
}

h1 {
  font-size: 1.25em;
  color: #1D8E89;

  font-style:normal;
  text-transform: uppercase;
  text-shadow: -2px 2px  #FFFFFF;
  text-align: right;
}

/*Definisco gli stili per i link*/
a:link, a:visited{
	color: #2f4141;
}

a:hover{
	font-weight: bold;
}

/*centro la tabella rispetto al box in cui risiede*/
table {
	margin-left: auto;
	margin-right: auto;
}

/*Definisco gli stili per gli elemento della tabella*/
 table  td {

	text-align: center;
	padding: 5px;
	
	/*proprietà dei bordi*/
	border-width: 1px;
	border-style: solid;
	border-color: darkcyan;	

	/*Minima e massima grandezza di ogni cella della tabella*/
	min-width: 150px;
	max-width: 150px;
}

/*coloro gli elementi della tabella differentemente se sono pari o dispari*/ 
tr:nth-child(odd) {
	background: #c7eae7;
	}
tr:nth-child(even) {
	background-color: #E1E5FF;
}

/*Definisco lo stile per l'intestazione della tabella*/
table th{
 border-width: 2px;
 border-style:solid;
 border-color: black ;
 border-collapse: collapse;

 background-color: darkcyan;
 padding:10px;
}

input, textarea{	
	color: #0086b3;
	background-color: #f2f2f2;
	border: 1px;
	border-color: #4d4d4d;
	border-style: solid;

	padding: 5px 10px 5px 10px; 
	display: block;
	margin-top: 2em;
}

/*proprietà del box di login*/
div#login {
	margin: 7% auto 10% auto;
	padding: 1%;
	width: 50%;
	
	border-style: solid;
	border-width: 1px;
	border-color:black;
}

/*proprietà condivise tra gli elementi di input del box login*/
div#login input, div#login button {
	width: 75%;
	display: block; /*Aggiungo questa riga perché voglio che i bottoni vengano visualizzati come blocchi solo in questo caso*/
	margin: 5% auto 0 auto;
}

/*Proprietà esclusive del bottone*/
div#login button{
	background-color: #3AA595;
	color: white;
	text-transform: uppercase;

	width: 55%;

	border: 1px;
	border-style: solid;
	border-color:black;

	margin-bottom: 2%;
}

